@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  html, :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #F5EFE6 !important;
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif !important;
  scroll-behavior: smooth;
}

.font-dm-serif-text {
  font-family: 'DM Serif Text', serif !important;
}

h1, h2, h3, h4, h5, h6, .font-dm-serif-text, .heading-serif {
  font-family: 'DM Serif Text', serif !important;
}
